.header{
    background:var(--blue-119);
    height: 6.5rem;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid rgb(1,1,1);

    h1 {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
    }
}

.login {
    background: var(--blue-169);
    border-radius: 30px;
    
    min-height: 20rem;
    margin: 0px auto;
    position: absolute;
    text-align: center;
    width:25rem;

    h1{
        font-size: 2.25rem;
        padding: 2px 0 10px 0;
        font-weight: bold;
        padding-bottom: 30px;
    }

    p {
        margin: auto;
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 21px;
        font-weight: 600;
        color: var(--black-font);
    }

    input{
        outline: none;
        padding: 5px;
        margin: 10px;
        border-radius: 40px;
        border: none;
    }

    form {
        padding: auto;
        margin: auto;
    }

    a {
        display: block;
    }

}

.main {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    padding: 2rem 4rem;
}

.enviar {
    border-radius: 40px;
    border: none;
    background-color: var(--black-38);
    width: 180px;
    height: 45px;
}

@media (max-width:1600px){
    
}