.header{
    background:var(--blue-119);
    background-blend-mode: multiply;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
    transition: all .2s ease-in-out;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;

    h1 {
        font-size: 1.6rem;
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
    }

    span{
        position: absolute;
        width: 65px;
        height: 65px;
        left: 40px;
        top: 8px;
        border-radius: 50%;
        background: #FFFFFF;
    }
}

.login {
    background: var(--blue-169);
    border-radius: 30px;
    
    min-height: 20rem;
    margin: 0px auto;
    position: absolute;
    text-align: center;
    width:25rem;

    h1{
        font-size: 2.25rem;
        padding: 2px 0 10px 0;
        font-weight: bold;
        padding-bottom: 30px;
    }

    p {
        margin: auto;
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 21px;
        font-weight: 600 bold;
        color: var(--black-font);
    }

    input{
        outline: none;
        padding: 5px;
        margin: 10px;
        border-radius: 40px;
        border: none;
    }

    form {
        padding: auto;
        margin: auto;
    }

    a {
        display: block;
        margin: 10px;
    }

}

.main {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    padding: 2rem 4rem;
}

.enviar {
    border-radius: 40px;
    border: none;
    background-color: var(--black-38);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
    width: 180px;
    height: 45px;
    background-blend-mode: multiply;
}

.email {
    position:relative;
    padding:1px 1px 1px 1px;
    margin:20px auto;
    width: 250px;

    i {
        position:absolute;
        bottom:50%;
        top: 15px;
        left: -5px;
        right:0;
        width:60px;
        height:60px;
    }

    span {
        position:absolute;
        bottom: -10px;
        left: -1px;
        width: 50px;
        height: 50px;
        background: #00292D;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
    }

    input {
        height: 30px;
        margin:0;
        padding-left: 50px;
        width: 100%;
        border-radius: 300px;
        background: #97A5B6;
        border: 2px solid white;
    }
}

@media (max-width:360px){
    .header{
        padding-left: 6px;
        span{
            width: 55px;
            height: 55px;
            top: 12px;
            left: 6px;
        }
    }
    .login{
        width: 100vw;
    }
}

@media (max-width:320px){
    .header{   
        h1{
            font-size: 1.281rem;
        }
    }
}

@media (max-width:375px){
    .header{
        padding-left: 8px;
        span{
            width: 55px;
            height: 55px;
            top: 12px;
            left: 7px;
        }
    }
    .login{
        width: 100vw;
    }
}

@media (max-width:414px){
    .header{
        padding-left: 10px;
        span{
            width: 55px;
            height: 55px;
            top: 12px;
            left: 9px;
        }
    }

}